class_name: models.nets.convmixer.ConvMixerTiny
input_size: 32 
stem:
  class_name: models.stems.patch.FCPatch
  params:
    kernel_size: 4
    stride: 4
neck:
  class_name: models.necks.patch.PatchNorm
head:
  class_name: models.heads.fc.FullyConnectedHead
  params:
    layer_units: 
      - ${datamodule.dataset.n_classes}
    activations: ["id"]
    dropout_rates: [0.0]
