general:
  logs_folder_name: logs
  root_dir: /home/ajkdrag/workspace/projects/object-detection-impl/experiments
  workspace: ajkdrag
  project_name: od-impl
  device: cuda
  model_name: ${hydra.runtime.choices.model}
  exp_name: ${datamodule.dataset.name}

defaults:
  - _self_
  - datamodule: cifar10
  - augmentation: ${datamodule}
  - training: default
  - predict: default
  - model: mobilenet
  - optimizer: adamw
  - scheduler: onecycle
  - loss: cross_entropy
  - metric: image_clf
  - callback: default
  - logging: default
  - override hydra/job_logging: stdout


hydra:
  run:
    dir: outputs/${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: outputs/${now:%Y-%m-%d_%H-%M-%S}
    subdir: ${now:%Y-%m-%d_%H-%M-%S}_${hydra.job.num}
